				<%# 관리자 기능이 담긴 네비게이션바 %>
		<nav class="navbar navbar-expand-sm row nnav" style="background: #80BCE1; padding: 10px; margin: 0px ">
				<div class="dropdown col" style="padding-left: 20px">
				<button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
				회원관리
				</button>
					<div class="dropdown-menu ">
						<a class="dropdown-item" href="#">회원조회</a>
						<a class="dropdown-item" href="#">회원등급 관리</a>
						<a class="dropdown-item" href="#">회원설정 관리</a>
						<a class="dropdown-item" href="#">회원정지 관리</a>
					</div>
				</div>
				<div class="dropdown col">
					<button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
					  거래 관리
					</button>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="#">당첨결과 조회</a>
						<a class="dropdown-item" href="#">전체거래 조회</a>
						<a class="dropdown-item" href="#">수수료 관리</a>
						<a class="dropdown-item" href="#">매출 조회</a>
					</div>
				</div>
				<div class="col">
					<button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
					  챗봇 관리
					</button>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="#">알림 발신</a>
						<a class="dropdown-item" href="#">FAQ 관리</a>
						<a class="dropdown-item" href="#">미니퀴즈</a>
						<a class="dropdown-item" href="#">챗봇로그 분석</a>
					</div>
				</div>
				<div class="dropdown col">
					<button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
					  게시판 관리
					</button>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="#">자유게시판</a>
						<a class="dropdown-item" href="#">리뷰게시판</a>
						<a class="dropdown-item" href="#">문의게시판</a>
						<a class="dropdown-item" href="#">신고게시판</a>
					</div>
				</div>
			</nav>
 
		