				<%# 사용자 기능이 담긴 네비게이션바 %>
			<nav class="navbar navbar-expand-sm row nnav" style="background: #80BCE1; padding: 10px; margin: 0px ">
				<div class="dropdown col" style="padding-left: 20px">
				<button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
				카테고리
				</button>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="#">의류/잡화</a>
						<a class="dropdown-item" href="#">메이크업</a>
						<a class="dropdown-item" href="#">가전디지털</a>
						<a class="dropdown-item" href="#">가구</a>
					</div>
				</div>
				<div class="dropdown col">
					<button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
					  게시판
					</button>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="#">자유게시판</a>
						<a class="dropdown-item" href="#">리뷰게시판</a>
						<a class="dropdown-item" href="#">문의게시판</a>
						<a class="dropdown-item" href="#">신고게시판</a>
					</div>
				</div>
				<div class="col">
					<button type="button" class="btn" style="font-size: 130%; color: #FFFFF">
					  상품등록
					</button>
				</div>
				<div class="dropdown col">
					<button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
					  환경설정
					</button>
					<div class="dropdown-menu">
						<h5 class="dropdown-header">내 정보</h5>
						<a class="dropdown-item" href="#">개인 정보 변경</a>
						<h5 class="dropdown-header">코인</h5>
						<a class="dropdown-item" href="#">보유 코인 조회</a>
						<a class="dropdown-item" href="#">코인 충전</a>
						<h5 class="dropdown-header">거래내역</h5>
						<a class="dropdown-item" href="#">응모 내역</a>
						<a class="dropdown-item" href="#">판매 내역</a>
						<a class="dropdown-item" href="#">당첨 내역</a>
						<h5 class="dropdown-header">배송</h5>
						<a class="dropdown-item" href="#">배송 상태</a>
						<a class="dropdown-item" href="#">당첨 내역</a>
					</div>
				</div>
			</nav>

		