				<%# 관리자 기능이 담긴 네비게이션바 %>
		<nav class="navbar navbar-expand-sm row nnav" style="background: #80BCE1; padding: 10px; margin: 0px ">
				<div class="dropdown col" style="padding-left: 20px">
				<button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
				회원관리
				</button>
					<div class="dropdown-menu ">
						<a class="dropdown-item" href="#">회원조회</a>
						<a class="dropdown-item" href="#">회원등급 관리</a>
						<a class="dropdown-item" href="#">회원설정 관리</a>
						<a class="dropdown-item" href="#">회원정지 관리</a>
					</div>
				</div>
				<div class="dropdown col">
					<button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
					  메인화면 관리
					</button>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="#">추천 상품 변경</a>
						<a class="dropdown-item" href="#">이미지 변경</a>
 
					</div>
				</div>
				<div class="col">
					<button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
					  수익 관리
					</button>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="#">수수료 설정</a>
						<a class="dropdown-item" href="#">매출 조회</a>
						<a class="dropdown-item" href="#">검색 기록 조회</a>
						<a class="dropdown-item" href="#">응모 결과 조회 </a>
					</div>
				</div>
				<div class="dropdown col">
					<button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
					  관리자 정보
					</button>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="#">내 정보 수정</a>
						<a class="dropdown-item" href="#">관리자 탈퇴</a>
					</div>
				</div>
			</nav>
 
		