<!DOCTYPE html>
<html> 
	<head>
    	<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Hidden100</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<!-- 스크립트 코드링크 (CND)를 지정 -->
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<style>
			@font-face { font-family: 'NanumSquareRound'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff'); font-weight: normal; font-style: normal; }
			body{
				font-family: 'NanumSquareRound';
				font-size: 120%;
				width: 100%;
				margin: 0px;
   				padding: 0px;
			}
			div.header{
				padding-top: 10px;
				padding-right: 20px;
				padding-left: 20px;
			}
			.btn{
				background: #80BCE1; color:#FFFFFF;
			}
			button.dropdown-toggle{
				font-size: 130%;
			}

			div.product{
				padding: 2%;
				padding-left: 2%;
				text-align: center; 
			}
			p{
				line-height:100%;
				margin: 0px;
				padding: 5px;
			}
			div.main-add{
				border: 6px solid #80BCE1;
				text-align: center; 
			}
			a{
				color:#000000;
			}
			 .cn {
 			 display: flex;
  			justify-content: center;
			}

			.inner {
			  align-self: center;
			}
			

		</style>
	</head>

	<body> 
		<div class="header row" style="margin: 0px ">
			<a href="/" class="col-5"><img src="/img/logo.png"  alt="Hidden100 Logo" ></a>
			<div class="col-5"><br></div>
			<%if(auth==99){%>
			<a class="col-1"><%=mem_id%>님!</a>
			<a class="col-1" href="/users/logout">로그아웃</a>
			<%}else{%>
			<a class="col-1" href="/users/reg">회원가입</a>
			<a class="col-1" href="/users/auth">로그인</a>
			<%}%>

		</div>
