    <br><br>
    <footer class="page-footer font-small" style="margin: 0px ">
        <div class="footer-copyright text-center py-3"> <small> © 2019 Copyright: 이 사이트는 P-실무 프로젝트로 제작중입니다.
                <p> 가천대학교 컴퓨터공학과 이우석, 이다은, 한혜경 </p> </small>

        </div>
    </footer>

    </body>

    </html>
