

<div id="demo" class="carousel slide Fhandon" data-ride="carousel">
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
        <li data-target="#demo" data-slide-to="3"></li>
    </ul>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="./img/slide1.png" alt="slide1" width="1100" height="500">
            <div class="carousel-caption caption">
                <h2> <%=text[0]%></h2>
            </div>
        </div>
        <div class="carousel-item">
            <img src="./img/slide2.png" alt="slide2" width="1100" height="500">
            <div class="carousel-caption caption">
                <h2> <%=text[1]%></h2>
            </div>
        </div>
        <div class="carousel-item">
            <img src="./img/slide3.png" alt="slide3" width="1100" height="500">
            <div class="carousel-caption caption">
                <h2> <%=text[2]%></h2>
            </div>
        </div>
        <div class="carousel-item">
            <img src="./img/slide4.png" alt="slide4" width="1100" height="500">
            <div class="carousel-caption caption">
                <h2> <%=text[3]%></h2>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>