<br/><br/><br/><br/><br/>
<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <h4>로그인</h4>
        </div>
    </div>
    <br/>

    <form name="signin" method=post action="/admin/admins/auth">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <input type="text" class="form-control" name="id" placeholder="아이디" required>
            </div>
        </div>
        <br/>

        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <input type="password" class="form-control" name="pass" placeholder="비밀번호" required>
            </div>
        </div>
        <br/>

        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <button type="submit" class="btn">로그인</button>
            </div>
        </div>
    </form>
</div>
<br/><br/><br/><br/>
