<!DOCTYPE html>
<html>

	<head>
    	<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Hidden100</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<!-- 스크립트 코드링크 (CND)를 지정 -->
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<style>
			@font-face { font-family: 'NanumSquareRound'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff'); font-weight: normal; font-style: normal; }
			body{
				font-family: 'NanumSquareRound';
				font-size: 120%;
				width: 100%;
				margin: 0px;
   				padding: 0px;
			}
			div.header{
				padding-top: 10px;
				padding-right: 20px;
				padding-left: 20px;
			}
			.btn{
				background: #80BCE1; color:#FFFFFF;
			}
			button.dropdown-toggle{
				font-size: 130%;
			}

			div.product{
				padding: 2%;
				padding-left: 2%;
				text-align: center; 
			}
			p{
				line-height:100%;
				margin: 0px;
				padding: 5px;
			}
			div.main-add{
				border: 6px solid #80BCE1;
				text-align: center; 
			}
			a{
				color:#000000;
			}
			 
			

		</style>
	</head>
  <body>
<br><br>
	<div class="row">
	<div class="col-3"></div>
     	 <div class="container main-add col-6" style="">
		<form action="/mygoods/shipment/post" method="post" >
<br><br>	<input type='hidden' class="btn" style="font-size: 150%;" name='goo_ship' value=<%=goo_ship%>>
	       <div class="row">
			<div class="col-2"><br></div>
			<div class="col-8"><input type="text" class="form-control"  name="goo_shipment" placeholder="택배회사:운송장번호" required></div>
			<div class="col-2"><br></div>
		</div><br>
	       <div class="row">
			<div class="col-8"><br></div>
			<div class="col"><input type="submit"  class="btn" value="번호 입력" ></div><br><br><br>
		</div>
		</form>
          

     </div>
	<div class="col-3"></div>
	</div>
<br><br>
		<footer class="page-footer font-small blue" style="margin: 0px ">
			<div class="footer-copyright text-center py-3"> <small> © 2019 Copyright:  이 사이트는 P-실무 프로젝트로 제작중입니다.
			  <p> 가천대학교 컴퓨터공학과 이우석, 이다은, 한혜경 </p> </small>
			</div>
		</footer>

	</body>
</html>

