<br/><br/><br/><br/><br/>
<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <h1>관리자 탈퇴</h1>
        </div>
    </div>
    <br/>

    <form id="deletion" name="deletion" method=post action="/admin/admins/deletion">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <h6>아이디</h6>
                <input type="text" class="form-control" name="id" value="<%=admin_info.admin_id%>" readonly required>
            </div>
        </div>
        <br/>

        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <h6>비밀번호</h6>
                <input type="password" class="form-control" name="pass" value="<%=admin_info.admin_pass%>" readonly required>
            </div>
        </div>
        <br/>

        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <input type="button" class="btn" id="deletionBtn" onclick="confirm_deletion(this.form);" value="탈퇴하기">
            </div>
        </div>
    </form>
</div>
<br/><br/><br/><br/>
    
<script type="text/javascript" language="javascript">
    function confirm_deletion(){
        var check = confirm("정말로 탈퇴하시겠습니까?");

        if(check){
            alert("회원탈퇴 되었습니다. 이용해주셔서 감사합니다.");
            document.deletion.submit();
        }
        else{
            alert("회원탈퇴를 취소하셨습니다!");
            return;
        }
    }
</script>
